DATABASE_URL=postgresql+psycopg2://postgres:password@localhost:5432/reddit_alpha_ai
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=reddit-alpha-ai-collector
SUBREDDIT_NAME=Stocks_Picks
LOG_LEVEL=INFO
